.openningContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 40px;
}

.openningHeading {
  color: black;
}

.openningDiv {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.openningInput {
  min-width: 230px;
  min-height: 30px;
  padding: 2px 4px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  border-radius: 8px;
}

.openningLabel {
  font-size: 22px;
  font-weight: 500;
}

.openningSelect {
  min-width: 230px;
  min-height: 30px;
  padding: 2px 4px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  border-radius: 8px;
}

.openningOption {
  min-width: 230px;
  border-radius: 8px;
  min-height: 30px;
  padding: 4px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(20, 20, 20);
}

.openningSubmitButton {
    border: none;
    border-radius: 8px;
    min-width: 200px;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(64, 64, 238);
    color:white;
    transition: all 300ms linear;
    cursor: pointer;

    &:hover {
        background: #00276e;
    }
}

.openningFileUploaderP {
    color: red;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
