.faktorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  padding-top: 20px;
  position: relative;
}

.faktorHeaderDiv {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(221, 223, 201);
  color: rgb(14, 114, 22);
}

.faktorHero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 30px;
  padding-top: 10px;
}

.faktorParaphDiv {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.faktorLabel {
  color: rgb(109, 109, 109);
  font-size: 14px;
  font-weight: 500;
}

.faktorParaph {
  color: rgb(66, 66, 66);
  font-size: 22px;
  font-weight: 500;
}

.faktorLoadingContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.faktorLoadingSpinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.faktorLoadingSpinnerSpan {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.faktorLinkDiv {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(87, 87, 255);
  cursor: pointer;
}

.faktorLink {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
