.faktorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  padding-top: 20px;
}

.faktorHeaderDiv {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(221, 223, 201);
  color: rgb(14, 114, 22);
}

.faktorHero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 30px;
  padding-top: 10px;
}

.faktorParaphDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.faktorLabel {
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 500;
}

.faktorParaph {
  color: rgb(66, 66, 66);
  font-size: 22px;
  font-weight: 500;
}

.faktorTable {
  width: 100%;
  padding: 12px 0;
}

.faktorTableHeader {
  width: 100%;
}

.faktorTableHeaderRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 158, 8);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.faktorTableBodyRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.faktorTableBody {
  width: 100%;
}

.faktorTableHeaderCell {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faktorTableBodyCell {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}