.carryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 40px;
}

.carryDiv {
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.carryLabel {
  font-size: 22px;
  font-weight: 500;
}

.carryInputContainer {
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.carrySubmitButton {
  border: none;
  border-radius: 8px;
  min-width: 200px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(64, 64, 238);
  color: white;
  transition: all 300ms linear;
  cursor: pointer;

  &:hover {
    background: #00276e;
  }
}

.shopPopupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.shopPopupContainor {
  position: fixed;
  direction: rtl;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 20px 60px 20px;
  z-index: 1001;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 1200px;
  height: 900px;
}

.closeShopPopupBtn {
  width: 60%;
  max-width: 250px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all 300ms linear;
  background-color: rgb(41, 41, 41);
  margin: 10px auto;

  &:hover {
    background-color: #979797;
    scale: 105%;
    color: white;
  }
}

.carryAddProductButton {
  border: none;
  border-radius: 8px;
  min-width: 200px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(202, 30, 30);
  color: white;
  transition: all 300ms linear;
  cursor: pointer;

  &:hover {
    background: #8d1b1b;
  }
}

.caryReceiptContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: 2px solid rgb(161, 161, 161);
}