.carryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 40px;
}

.carryDiv {
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.carryLabel {
  font-size: 22px;
  font-weight: 500;
}
